.top-movies-container {
    padding: 20px;
}


.top-movies-container .card {
    display:flex;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    color: #007bff;
    text-align: center;
    flex-direction: column;
    height: 100% !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.top-movies-container .card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}


.btn.choose-screening-btn {
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgb(220, 31, 31) !important;
    color: white !important;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top: auto;
}

.btn.choose-screening-btn:hover {
    background-color: #753b3b !important;
}

.text-black {
    color: black;
}

.top-movies-container .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-movies-container .movie-content {
    flex-grow: 1;
}

.top-movies-container .movie-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.top-movies-container .tomatometer-wrapper {
    display: flex;
    align-items: center;
    margin-top: auto;
    color: black;
}