.custom-navbar {
    background-color: #343a40 !important;
    color: crimson;
}

.brand-custom{
    color: gold !important;
    text-decoration-color: #ffed25 !important;
}

.custom-nav .nav-link {
    color: whitesmoke !important;
}

.custom-nav .nav-dropdown {
    color: #de0f0f !important;
}

.login {
    color: whitesmoke !important;
}

.register {
    color: whitesmoke !important;
}

