.custom-navbar {
    background-color: #343a40 !important;
    color: crimson;
}

.navbar-brand-custom {
    color: gold;
}

.custom-nav .nav-link {
    color: black;
}

.custom-nav .nav-dropdown {
    color: black;
}

