.movie-poster {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.card-content {
    padding-left: 20px;
    margin-left: 0;
}

.card-title, .card-text {
    margin-bottom: 0.5rem;
}

.selektbox {
    padding-top: 20px;
}

.button {
    background-color: rgb(220, 31, 31) !important;
    color: white !important;
    border: none !important;
}
.button:hover {
    background-color: #753b3b !important;
}
